<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Lowin</title>
	<link rel="stylesheet" href="/static/log/css/auth.css">
</head>

<body>
	<div class="lowin">
		<div class="lowin-brand">
			<img src="/static/log/imgs/kodinger.jpg" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-register">
				<div class="lowin-box-inner">
					<form action="{% url 'myapp:reg' %}" method="post">
                        {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                        {% csrf_token %}
						<p>Let's create your account</p>
						<div class="lowin-group">
							<label>Name</label>
							<input type="text" name="username" autocomplete="username" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>Email</label>
							<input type="email" autocomplete="email" name="email" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>Password</label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input">
						</div>
{#                        <div class="lowin-group">#}
{#							<label>icon</label>#}
{#							<input type="file" name="icon" autocomplete="current-icon" class="lowin-input">#}
{#						</div>#}
{#						<button class="lowin-btn">#}
{#							Sign Up#}
{#						</button>#}
                        <input type="submit" value="Sign Up" class="lowin-btn">
						<div class="text-foot">
							Already have an account? <a href="" class="login-link">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>


	</div>

	<script src="/static/log/js/auth.js"></script>
	<script>
		Auth.init({
			login_url: '#login',
			forgot_url: '#forgot'
		});
	</script>
</body>
</html>